<div class= "faq">
	<div class="container">
	<div class="main-section">
	<div class="row">
	<div class="col-md-12">
	<h2><strong>FAQ</strong></h2>
	<hr>
	<div class="row">
	<div class="col-md-12">
	<div class="panel-group" id="accordion">
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: Do you have any minimum order quantities?</strong>
	</h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse in">
	<div class="panel-body">
	A: No we don’t have any minimums, you can order as many or as few hats as you’d like. We do however offer bulk discounts so the more you purchase the more you can save.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: Can I use my own hats?</strong>
	</h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse in">
	<div class="panel-body">
	A: Due to the professional nature of our service we will only customize and embroider hats that are purchased on our website.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: How much does shipping cost?</strong>
	</h4>
	</div>
	<div id="collapse3" class="panel-collapse collapse in">
	<div class="panel-body">
	A: Shipping fees depend on the size of your order and your shipping destination. We advise that you create a dry run of your order and enter your shipping location. Our system will calculate the exact shipping cost for you so you can make a quick decision.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: Do you ship internationally?</strong>
	</h4>
	</div>
	<div id="collapse4" class="panel-collapse collapse in">
	<div class="panel-body">
	A: Absolutely. We ship orders all over the world on a daily basis.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: How long does my order take to ship?</strong>
	</h4>
	</div>
	<div id="collapse5" class="panel-collapse collapse in">
	<div class="panel-body">
	A: Each order is personally customized and made for you. That means the total time from us to you can be 4-6 weeks. We'll keep you updated as your order goes through the different stages of production.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: What is a digitizing fee?</strong>
	</h4>
	</div>
	<div id="collapse6" class="panel-collapse collapse in">
	<div class="panel-body">
	A: Before your logo can be embroidered, our artists must digitally prepare it. This process is called ‘digitizing’. After we have digitized your logo once, we keep it on file so you are not charged again.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: How many colors can you embroider in a logo?</strong>
	</h4>
	</div>
	<div id="collapse7" class="panel-collapse collapse in">
	<div class="panel-body">
	A: We can stitch up to 8 colors for your logo.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: How big can my logo be embroidered?</strong>
	</h4>
	</div>
	<div id="collapse8" class="panel-collapse collapse in">
	<div class="panel-body">
	A: This is dependent on the size of your hat. On larger hats the maximum size that we can stitch a logo is 4 inches wide and 2.25 inches high.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: Do you provide sample orders?</strong>
	</h4>
	</div>
	<div id="collapse9" class="panel-collapse collapse in">
	 <div class="panel-body">
	A: We do provide sample orders; but at a small fee. Please enquire for details.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: Can I come by to see samples?</strong>
	</h4>
	</div>
	<div id="collapse11" class="panel-collapse collapse in">
	<div class="panel-body">
	A: Unfortunately we can’t facilitate walk-ins. We have locations across North America but these are strictly work environments and production facilities. Don’t worry though; all of the finer details for our items can be found in our online catalogue.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: Do you offer bulk discounts?</strong>
	</h4>
	</div>
	<div id="collapse12" class="panel-collapse collapse in">
	<div class="panel-body">
	A: Of course! The more you buy, the more you save. See the chart in our hat designer for further details on discount percentages.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: What forms of payment do you accept?</strong>
	</h4>
	</div>
	<div id="collapse13" class="panel-collapse collapse in">
	<div class="panel-body">
	A: CapBeast accepts all major brands of payment including Visa, MasterCard, PayPal and American Express.
	</div>
	</div>
	</div>
	<div class="panel panel-default mb50">
	<div class="panel-heading">
	<h4 class="panel-title faq"><strong>
	Q: How do I know what size garment to choose?</strong>
	</h4>
	</div>
	<div id="collapse14" class="panel-collapse collapse in">
	<div class="panel-body">
	A: We have sizing charts for you to reference for all corresponding products. Message our customer service for more details.
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</div>