<div class="container-fluid">
	<div class="main-section">
		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<h2 class="text-center">About CapBeast</h2>
				<hr>
				<p style="text-align:justify">Here at CapBeast, we&rsquo;re all about personal expression of style. We believe everybody is their own brand and we want to give you the tools to show it, loudly and proudly. Whether you&rsquo;re looking to promote your business or just promote yourself, we have you covered every step of the way.</p>
				<p style="text-align:justify">&nbsp;</p>
				<h3 style="text-align:center">Testimonials</h3>
				<p style="text-align:justify">&ldquo;I was blown away by how easy it was to place my order online. My caps were of the highest quality when I received them. Furthermore I couldn&rsquo;t believe I was able to just order one cap. Usually I have to order bucket loads of items before I can meet the minimum requirements for delivery. I don&rsquo;t think I&rsquo;ll be using any other custom apparel site again.&rdquo;</p>
				<p style="text-align:justify">&nbsp;&nbsp;&nbsp; - Josh Huggins<br />
				&nbsp;&nbsp;&nbsp; - London, Ontario</p>
				<p style="text-align:justify">&ldquo;CapBeast is legit. That&rsquo;s all I have to say. Hands down the best custom clothing site I&rsquo;ve used. My hat collection has doubled since I&rsquo;ve been using it&rdquo;</p>
				<p style="text-align:justify">&nbsp;&nbsp;&nbsp; - Joel Brown<br />
				&nbsp;&nbsp;&nbsp; - Brooklyn, New York</p>
				<p style="text-align:justify">&ldquo;Usually when I order internationally the whole thing is a long-winded headache. So when I bought some custom stuff from CapBeast I was shocked at how quick it arrived. I&rsquo;ve had local shipments take longer!&rdquo;</p>
				<p style="text-align:justify">&nbsp;&nbsp;&nbsp; - Sharmaine Stevens,<br />
				&nbsp;&nbsp;&nbsp; - London, UK.</p>
				<h3 style="text-align:justify">&nbsp;</h3>
				<h3 style="text-align:justify">About CapBeast</h3>
				<p style="text-align:justify">CapBeast may or may not be some kind of mythical custom design creature. Reports unconfirmed.</p>
				<p style="text-align:justify">Unverified rumors claim the CapBeast was born in a lab using fragments of Schoolboy Q&rsquo;s bucket hat and Eazy E&rsquo;s Compton snapback.</p>
				<p style="text-align:justify">According to our trusted sources, CapBeast visited Lebron James the night before he decided to return to Cleveland.</p>
				<p style="text-align:justify">CapBeast already owns a copy of Dr. Dre&rsquo;s Detox.</p>
			</div>
		</div>
	</div>
</div>