<div class="container-fluid">
	<div class="main-section">
		<div class="row">
			<div class="col-md-8 col-md-push-2">
			<h2 class="text-center">Delivery Information</h2>
			<hr>
			<p style="text-align:justify">All CapBeast orders are shipped via Fedex and USPS.&nbsp;</p>
			<p style="text-align:justify">Orders are shipped from our warehouse within 3-4 weeks from when you place your order, however, this is not guaranteed.&nbsp;Please note that whilst we guarantee a high-quality standard of delivery time, unforeseen circumstances can arise and therefore the delivery dates are not always definite. For more information on this please see our terms of sale and delivery.&nbsp;</p>
			</div>
		</div>
	</div>
</div>