<div class="container-fluid">

	<div class="main-section">
		<div class="row forms-holder">
			<div class="col-lg-4 col-lg-push-1 col-sm-6">
				<h3>Forgot Password?</h3>
				<%= render 'users/passwords/new' %>
			</div>
			<div class="col-lg-4 col-lg-push-3 col-sm-6">
				<h3>CREATE NEW ACCOUNT</h3>
					<p>Registration allows you to avoid filling in billing and shipping forms every time you checkout on this website.</p>
				<hr>
				<a href="/signup" class="btn btn-default">Register</a>
			</div>
		</div>
	</div>
</div>