<div class="container-fluid">

	<div class="main-section">
		<div class="row forms-holder">
			<div class="col-lg-4 col-lg-push-1 col-sm-6">
				<h1 class="text-center">LOG IN</h1>
				<%= render "users/sessions/new" %>
			</div>
			<div class="col-lg-4 col-lg-push-3 col-sm-6 ">
				<h1 class="text-center" style="font-size: 26px">CREATE NEW ACCOUNT</h1>
				<p>Registration allows you to avoid filling in billing and shipping forms every time you checkout on this website.</p>
				<hr>
				<a href="/signup" class="btn btn-default">Register</a>
			</div>
		</div>
	</div>
</div>
