<div class="container-fluid">
	<div class="main-section">
		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<h2 class="text-center">Returns Policy</h2>
				<hr>
				<p style="text-align:justify"><strong>6.&nbsp;</strong><strong>RETURN POLICY</strong></p>
				<p style="text-align:justify">6.1 Due to the custom nature of each hat produced, CapBeast does not offer returns or refunds.</p>
				<p style="text-align:justify">6.2 In the event that you have received is incorrect, a return can be approved at the discrecion of CapBeast. In such case, you are responsible for organising return of the Items to us within 30-day period in order for the Items to be covered under this Policy.</p>
				<p style="text-align:justify">6.2 You are responsible for the postage and delivery costs of returning the Items to us and you cannot recoup such costs from CapBeast.</p>
				<p style="text-align:justify">6.3 CapBeast is not responsible for returning any Items that have been lost in transit.</p>
				<p style="text-align:justify">6.4 You must ensure that the Items are returned to us unwashed, unused, and in their original packaging and tags intact. If the Item does not comply with this clause, you will not be eligible for this Policy.</p>
				<p style="text-align:justify">&nbsp;</p>
				<p style="text-align:justify"><strong>7.&nbsp;</strong><strong>REPLACEMENTS ONLY</strong></p>
				<p style="text-align:justify">7.1 Upon receipt of the returned Item, CapBeast will inspect the Item and make its decision in its sole discretion on your notice whether it is more appropriate to offer a replacement.</p>
				<p style="text-align:justify">7.2 Customers acknowledge and agree that due to the customised nature of the Items, CapBeast cannot offer any refunds. There is little to no resale value for the Items.</p>
				<p style="text-align:justify">7.3 This Policy does not apply to any Items purchased on sale. No returns, refunds, or replacements will be available in such an event.</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</div>