<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<h2>REGISTER A NEW ACCOUNT</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h3>Personal Information</h3>
			<hr>
			<%= render 'users/registrations/new' %>
				<!-- <form accept-charset="UTF-8" action="/signup" class="main-form" id="new_spree_user" method="post"> -->
				<!-- <div class="form-group">
				<label for="inputFirstName" class="">First Name:<span class="text-error">*</span></label>
				<input class="form-control" id="inputFirstName" name="spree_user[first_name]" type="text" />
				</div> -->
				<!-- <div class="form-group">
				<label for="inputLastName" class="">Last Name:<span class="text-error">*</span></label>
				<input class="form-control" id="inputLastName" name="spree_user[last_name]" type="text" />
				</div> -->
				<!-- <div class="form-group">
				<label for="inputEMail" class="">E-Mail:<span class="text-error">*</span></label>
				<input class="form-control" id="inputEMail" name="spree_user[email]" type="email" />
				</div> -->
				<!-- <div class="form-group">
				<label for="inputPhone" class="">Phone:</label>
				<input class="form-control" id="inputPhone" name="spree_user[phone]" type="text" />
				</div> -->
				<!-- <h3>Password</h3>
				<div class="form-group">
				<label for="inputPassword1" class="">Password: <span class="text-error">*</span></label>
				<input class="form-control" id="inputPassword1" name="spree_user[password]" type="password" />
				</div> -->
				<!-- <div class="form-group">
				<label for="inputPassword2" class="">Re-Password: <span class="text-error">*</span></label>
				<input class="form-control" id="form-control" name="spree_user[password_confirmation]" type="password" />
				</div> -->
				<!-- <div class="checkbox">
				<label>
				<input name="spree_user[is_mail_list_subscriber]" type="hidden" value="0" /><input id="spree_user_is_mail_list_subscriber" name="spree_user[is_mail_list_subscriber]" type="checkbox" value="1" />
				<span>Subscribe to newsletter</span>
				</label>
				</div>
					<div class="form-group">
					<input class="btn btn-default" name="commit" type="submit" value="Register" />
					</div>
				</form>  -->
		</div>
		<div class="col-xs-12 col-md-6">
		<h3>Conditions</h3>
		<hr>
		<p>
		<b>PRIVACY POLICY</b>
		</p>
		<p>
		This Privacy Policy applies to all personal information collected by CapBeast via the Site located at <a href="https://capbeast.com" target="_blank">www.capbeast.com</a>.
		</p>
		<p>
		<b>How to contact us about privacy</b>
		</p>
		<p>Your privacy is very important to us. If you have any questions regarding our information practices and other privacy aspects of the Site. You can contact us at: <a href="/cdn-cgi/l/email-protection#3950575f56795a58495b5c584a4d175a5654" target="_top"><span class="__cf_email__" data-cfemail="0676746f7067657f4665677664636775722865696b">[email&#160;protected]</span></a>.
		</p>
		<p><b>Collection and Purpose</b></p>
		<p>
		We collect your personal information disclosed to us during the registration process. We may also collect personal information from you in the course of your use of our Site including, but not limited to:
		</p>
		<p>(a) Registration Page;<br><br>(b) Contact Us Page;<br><br>(c) Referrals;<br><br>(d) Newsletters;<br><br>(e) Email alerts; and<br><br>(f) Publicly available information.
		</p>
		<a href="/privacy-policy" class="btn btn-default btn-secondary">Read more</a>
		</div>
		<div class="form-group"> </div>
	</div>
</div>
<br>