<footer id="footer">
<footer class="footer">
<div class="container-fluid">
<div class="row">
<div class="col-sm-3">
<!-- 
<a href="#" class="logo">
<img alt="Сapbeast" height="76" src="assets/spree/frontend/logo-white-22bd8ee8ecb1c404534eacc25370b6532e3d6657150cd3d4cebd6900b4d5dd3b.svg" width="210" />
</a> -->
</div>

<div class="col-sm-3">
<h4>Information</h4>
<ul class="list-unstyled">
<li><a href="about-us.html">About Us</a></li>
<li><a href="contact-us.html">Contact Us</a></li>
<li><a href="delivery-information.html">Delivery Information</a></li>
<li><a href="privacy-policy.html">Privacy Policy</a></li>
<li><a href="terms-sale-and-delivery.html">Terms of Sale &amp; Delivery</a></li>
<li><a href="returns.html">Returns</a></li>
<li><a href="sitemap.xml.gz">Site Map</a></li>
</ul>
</div>
<div class="col-sm-3">
<h4>PRODUCT CATEGORIES</h4>
<ul class="list-unstyled">
<li>
<a href=custom-hats/custom-snapbacks.html>
<strong class="title"><span>Custom Snapbacks</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-fitted-hats.html>
<strong class="title"><span>Custom Fitted Hats</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-strapback-hats.html>
<strong class="title"><span>Custom Dad Hats</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-camo-hats.html>
<strong class="title"><span>Custom Camo Hats</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-beanies.html>
<strong class="title"><span>Custom Beanies</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-5-panel-hats.html>
<strong class="title"><span>Custom 5 Panel Hats</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-trucker-hats.html>
<strong class="title"><span>Custom Trucker Hats</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-bucket-hats.html>
<strong class="title"><span>Custom Bucket Hats</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-athletic-hats.html>
<strong class="title"><span>Custom Athletic Hats</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-golf-hats.html>
<strong class="title"><span>Custom Golf Hats</span></strong>
</a>
</li>
<li>
<a href=custom-hats/custom-military-hats.html>
<strong class="title"><span>Custom Military Hats</span></strong>
</a>
</li>
</ul>
</div>
<div class="col-sm-3">
<h4>NEWSLETTER</h4>

<!-- <form accept-charset="UTF-8" action="https://capbeast.com/subscriptions" class="subscribe-form" method="post"><div style="display:none"> --><!-- <input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="6MHXe3guztMT3PSgqCz3dcEP0STM26HTxnJl7Hs6e54=" /></div> -->
<!-- <p>Sign up to our newsletter and receive free coupons and discount codes!</p>
<fieldset>
<input class="form-control" id="newsletter_email" name="email" placeholder="Email" type="text" />
<button type="submit" id="newsletter_button" class="btn btn-opposite" style="min-width:20px;height:42px;"><i class="icon-arrow-right"></i></button>
</fieldset>
</form> -->

<!-- <ul class="socials list-inline">
<li><a href="https://www.facebook.com/capbeast" class="icon-facebook"></a></li>
<li><a href="https://twitter.com/wearecapbeast" class="icon-twitter"></a></li>
<li><a href="https://instagram.com/capbeast" class="icon-instagram"></a></li>
</ul> -->
</div>
</div>
<div class="row">
<div class="col-sm-9">

<span class="copy">COPYRIGHT &copy; 2017 <a href="#">CAPBEAST</a> | ALL RIGHTS RESERVED</span>
<span class="verify">
<!-- <img alt="verify and secured" src="assets/spree/frontend/footer/img-verify-2f56b01880a3ec55267d144477439b0a6a26bd8e689cf8ea8cabb14ba87c5bd9.png" /> -->
</span>
</div>
<div class="col-sm-3 text-right">

<!-- <ul class="cards list-inline">
<li><img alt="paypal" src="assets/spree/frontend/footer/card-01-5bbc88d774353e08d712d36f0b6e382d56f3f240c09b8ac388fa59f0b9b569a9.png" /></li>
<li><img alt="visa" src="assets/spree/frontend/footer/card-02-8f1b91625a826e85a1eb201b828ffd31a1193491c05fc1d16937ca2678cc4d73.png" /></li>
<li><img alt="mastercard" src="assets/spree/frontend/footer/card-03-96dfb145dc70937806f43b4f9200a795d08d1a897dbfd2c06948112e7bc3d159.png" /></li>
<li><img alt="amex" src="assets/spree/frontend/footer/card-04-12fd39fc08efe653b121b59a668951db166a4ce77718a00a708c334c69b94026.png" /></li>
</ul> -->
</div>
</div>
</div>
</footer>
</footer>_